* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #333;
    background: #f3f3f3;
}

html,
body {
    height: 100%;
    margin: 0;
}

.content {
    flex: 1;
}

nav#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #24292e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f4b400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(135deg, #24292e, #4caf50);
    color: #fff;
    animation: fadeIn 3s ease-in-out;
}

.image-container {
    position: relative;
    display: inline-block;
}

.hero-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hero-content .btn {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.image-container .btn:hover {
    background-color: #3e8e41;
}

.spiral-arrow {
    display: flex;
    justify-content: center;
}

.spiral-svg {
    width: 50px;
    height: 100px;
}

.hero-content h1 {
    font-size: 2rem;
}

.hero-content p {
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#hero .btn {
    background: white;
    color: #4caf50;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px;
}

/* Skills Section */
#skills {
    padding: 60px 20px;
    text-align: center;
}
.skill-bars .skill {
    margin-bottom: 20px;
}
.progress {
    background: #ddd;
    height: 20px;
    width: 70%;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
}
.bar {
    height: 100%;
    border-radius: 10px;
    background: #4caf50;
    animation: fill 2s ease-in-out;
}
.bar.html {
    width: 90%;
}
.bar.css {
    width: 80%;
}
.bar.js {
    width: 60%;
}
@keyframes fill {
    from {
        width: 0;
    }
    to {
        width: inherit;
    }
}

#projects {
    padding: 60px 20px;
    background: #f9f9f9;
    transition: background-color 0.3s ease;
}

#projects h2 {
    text-align: center;
    margin-bottom: 30px;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    transition: background-color 0.3s ease;
}

.project-tile {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    padding: 20px;
    width: 300px;
    transition: background-color 0.3s ease;
}

.project-tile:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-tile a {
    text-decoration: none;
    color: #333;
}

.project-tile h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #4caf50;
}

.project-tile p {
    font-size: 14px;
}

.project-tile img {
    height: 100px;
    width: 100px;
    padding: 10px;
    text-align: center;
}

#about {
    padding: 40px 20px;
    background: #f3f3f3;
    text-align: justify;
}
/* Certificates Section */
#certificates {
    padding: 60px 20px;
    background: #f9f9f9;
    transition: background-color 0.3s ease;
}

#internship-certificates,
#course-certificates {
    margin-top: 10px;
}

/* Container for all certificate cards */
.h1-container {
    margin-top: 5px;
    padding: 20px 0;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    background: #4caf50;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.h1-container h1 {
    margin: 0;
    color: #fff;
}
.h1-container p {
    color: #e0e0e0;
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
    text-decoration: none;
}

.h1-container p a {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.h2-text {
    text-align: center;
    color: #666;
    font-size: 0.85rem;
    margin-bottom: 20px;
}

.cert-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Single Certificate Card */
.cert-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    padding: 20px;
    width: calc(25% - 20px); /* 4 cards per row */
    max-width: 300px;
    flex: 1 1 calc(25% - 20px);
}

.cert-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Image inside the card */
.cert-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Certificate Info */
.cert-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cert-info h3 {
    font-size: 18px;
    color: #4caf50;
    margin: 0;
}

.cert-info .cert-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.cert-info .date {
    text-align: right;
}

/* Certificate Description */
.cert-info .description {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
    margin-top: 10px;
}

/*Footer section*/
footer {
    text-align: center;
    padding: 10px;
    background: #24292e;
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    border: none;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
        transform 0.3s,
        filter 0.3s;
}

.icon:hover img {
    transform: scale(1.2);
    filter: grayscale(0%) brightness(1);
}

/* Footer Links Section */
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-column {
    flex: 1;
    margin: 0 15px;
    max-width: 200px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #4caf50;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

/* Newsletter Subscription */
.footer-column form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column input[type="email"] {
    padding: 10px;
    border: 1px solid #4caf50;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    color: black;
}

.footer-column button {
    background: #4caf50;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.footer-column button:hover {
    background: #4caf50bf;
}

/* Contact Details */
footer p {
    font-size: 12px;
    margin: 5px 0;
}

footer p a {
    color: #4caf50;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .cert-card {
        width: calc(33.33% - 20px); /* 3 cards per row */
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .cert-card {
        width: calc(50% - 20px); /* 2 cards per row */
        flex: 1 1 calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .cert-card {
        width: 100%; /* Full width for small screens */
        flex: 1 1 100%;
    }
}

@media (max-width: 768px) {
    nav ul li {
        margin: 0 10px;
    }

    .welcome-text h1 {
        font-size: 1.5rem;
    }

    .welcome-text p {
        font-size: 0.9rem;
    }

    .project-tile {
        width: 90%;
    }
}

/* Keyframes */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
